<%- include('partials/header.ejs') %>
  <body>
    <h1>Welcome <%= userName %> !!</h1>
    <p><%= Description %></p>
    <p>We are doing JS Operations : <%= 5 * 4 %> </p>
    <button>Go !!!</button>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
